<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="AeRenderPath" value="C:\Program Files\Adobe\Adobe After Effects CS6\Support Files\aerender.exe"/>
    <add key="OutputPath" value="c:\Files\f\OutPut\POLITIC\"/>
    <add key="AeProjectFile" value="C:\Users\admin\Desktop\News Stills NEW\News Stills Politics\News Stills Politics- HD.aep"/>
    <add key="XmlPath" value="C:\Users\admin\Desktop\News Stills NEW\News Stills Politics\(Footage)\PNG"/>
    <add key="PicturesPath" value="C:\Users\admin\Desktop\News Stills NEW\News Stills Politics\(Footage)\-Picture"/>
    <add key="RenderIntervalSec" value="10"/>
    <add key="Composition" value="NewsStills Final"/>
    <add key="OutPutFileName" value="NewsStillsPOLITIC"/>
    <add key="InputFolder" value="C:\FILES\f\POLITIC\"/>
    <add key="StillsKind" value="Politic"/>
    <add key="ScheduleDestFileName" value="c:\Files\f\OutPut\ComingUp\"/>
  </appSettings>
</configuration>